body{
  font: 300 17px/1.58 "Raleway", Arial, sans-serif;
  color: #262626;
 }

/* Typography */
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
    outline:none;
}
textarea {

}

/* Layout */

.ba-grid--pad30 > [class*="ba-width-"] {
    float: left;
    padding-left: 30px;
}

.ba-grid--pad30 {
    margin-left: -30px;
}
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

.ba-fresh {
	min-height: 100vh;
	background: #FFF url(../img/fresh.jpg) 50%;
	background-size: cover;
	position: relative;
}
.ba-header {
	padding-top: 50px;
}
.ba-menu {
	font-size: 0;
	font-weight: 700;
	margin: 7px 0 0 0;

}
.ba-menu li {
	display: inline-block;
	font-size: 16px;
	padding-top: 3px;
	margin-left: 37px;
}
.ba-menu a {
	color: #262626;
	text-decoration: none;
}
.ba-active {
	border-top: 3px solid #ff6033;
}
.ba-menu li:hover  {
	border-top: 3px solid #ff6033;
}
.ba-banner {
	width: 35%;
	padding: 228px 0 70px 0;
}
.ba-banner__title {
	font-size: 60px;
	font-weight: 900;
	margin: 0 0 0 -4px;
}
.ba-button__banner {
	padding: 13px 25px;
	background: #FF6033;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-button__banner:hover {
	background: #fc3a03;
}
.ba-banner__text {
	margin: 2px 0 30px;
}
.ba-scroll {
	position: absolute;
	height: 40px;
	left: 50%;
	bottom: 69px;
	margin-left: -12px;
	transition: transform .2s ease-in;
}
.ba-scroll:hover {
	transform: translateY(-10px);
}
@media (max-width: 960px) {
	.ba-banner {
	width: 50%;
	padding: 228px 0 70px 0;
    }
    .ba-banner__text {
	margin: 40px 0 60px;
    }
}
@media (max-width: 768px) {
	.ba-menu {
		display: none;
	}
	.ba-banner {
	width: 70%;
	padding: 170px 0 70px 0;
	}

	}
@media (max-width: 480px) {
	.ba-menu {
		display: none;
	}
	.ba-banner {
	width: 100%;
	padding: 0 0 140px;
	text-align: center;
    }
    .ba-banner__title {
	font-size: 50px;
	margin-top: 30px;
    }
    .ba-banner__text {
	margin: 30px 0 50px;
   }
   .ba-fresh {
	min-height: auto;
	background-position: 25% ;
   }
   .ba-scroll {
	bottom: 20px;
	}

}


/*ba-about*/
.ba-about {
	background: #00c4c4;
}
.ba-about__img--position {
	display: block;
	margin: 35px -52px 0;
	max-width: none;
}
.ba-about__body {
	padding: 169px 0 211px 85px;

}
.ba-about__title {
	font-size: 90px;
	line-height: 90px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}
.ba-about__body p {
	margin: 16px 0 16px;
	color: #fff;
}

@media (max-width: 1100px) {
	.ba-about__img--position {
	display: block;
	margin: 100px -30px 0;
	max-width: 100%;
   }
.ba-about__body {
	padding: 169px 0 211px 20px;

    }
}
@media (max-width: 960px) {
	.ba-about__img--position {
	display: block;
	margin: 20px auto;
	max-width: 100%;
   }
.ba-about__body {
	padding: 60px 0 90px;

    }
    .ba-about__title {
	font-size: 70px;
	text-align: center;
    }
}

@media (max-width: 480px) {
	.ba-about__img--position {
	display: block;
	margin: 17px -6px 0;
	max-width: 100%;
   }
	.ba-about__body {
	padding: 20px 0 50px 0;

   }
   .ba-about__title {
	font-size: 60px;
	text-align: center;
    }

}

/*ba-services*/
.ba-services {
	background: #70bfff;
}
.ba-services__list {
	padding: 179px 0 131px 100px;
}
.ba-services__list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ba-services__list li {
	max-width: 400px;
	height: 100px;
	font-size: 0;
	font-weight: 700;
	margin-bottom: 20px;
	background: #FFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-services__list h5 {
	margin: 0;
	font-size: 20px;
	width: 75%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
}
.ba-services__list span {
	display: inline-block;
	height: 100px;
    width: 25%;
	vertical-align: middle;
	border-left: 1px solid rgb(157, 157, 157);
}
.ba-icon-cart {
	background: url(../img/icons/icon-cart.svg) no-repeat 50%;
}
.ba-icon-quality {
	background: url(../img/icons/icon-quality.svg) no-repeat 50%;
}
.ba-icon-globe {
	background: url(../img/icons/icon-globe.svg) no-repeat 50%;
}
.ba-icon-carrot {
	background: url(../img/icons/icon-carrot.svg) no-repeat 50%;
}
.ba-services__body {
	padding: 101px 0 10px 107px;
	position: relative;
}
.ba-services__title {
	font-size: 90px;
	color: #fff;
	text-align: center;
    padding: 294px 0;
    margin: 0;
    background: url(../img/tomato.png) no-repeat 50%;
}
@media (max-width: 1150px) {
	.ba-services__title {
	font-size: 75px;
	}
	.ba-services__list {
	padding: 179px 0 131px 0;
    }
}
@media (max-width: 960px) {
	.ba-services__list {
	padding: 80px 0 0 0;
	text-align: center;
    }
    .ba-services__list ul {
    display:inline-block;
	width: 50%;
    }
    .ba-services__title {
	font-size: 70px;
	padding: 250px 0;
	}
 }
 @media (max-width: 768px) {
 	.ba-services__list ul {
	 width: 66%;
	 }
 }
 @media (max-width: 480px) {
	.ba-services__list ul {
	 width: 92%;
	 }
	 .ba-services__title {
	font-size: 60px;
	}
 }
/*ba-gallery*/
.ba-gallery {
	background-color:  #ffe92f;
	text-align: center;
}
.ba-gallery__body {
    max-width: 575px;
	padding: 121px 0 28px 0;
	display: inline-block;
}
.ba-gallery__title {
	font-size: 90px;
	line-height: 27px;
	margin: 0;
	padding-bottom: 43px;
	display: inline-block;
}
.ba-gallery__title p {
	display: inline-block;
}

.ba-gallery img {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-gallery .ba-gallery__big-shadow {
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.ba-gallery__button {
	padding: 46px 0 117px;
}
.ba-button__gallery {
	display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
	padding: 13px 25px;
	background:  #5585a2;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-button__gallery:hover {
	background: #2271a1;
}
@media (max-width: 960px) {
	.ba-gallery__title {
	font-size: 70px;
    }
}
@media (max-width: 480px) {
	.ba-gallery__title {
	font-size: 60px;
    }
}

/* Subscribe */
.ba-subscribe {
	background: #FFF url(../img/bg-subscribe.png) no-repeat 50%;
}
.ba-subscribe__body {
	padding: 145px 0 163px 0;
}
.ba-subscribe__title {
	margin: 0;
	font-size: 40px;
    line-height: 27px
}
.ba-subscribe__text {
	display: inline-block;
	max-width: 550px;
	margin: 29px 0 28px 0;
}
.ba-subscribe input[type="email"] {
	vertical-align: middle;
	font-size: 15px;
	border: 1px solid #262626;
	width: 570px;
	height: 55px;
	line-height: 55px;
	padding: 0  14px;
	background: #FFF;
	color: #262626;
}
.ba-subscribe input[type="email"]:focus {
	background: #FFF;
	border: 1px solid #262626;
	font-weight: 300;
}
.ba-button__subscribe {
	outline: none;
	border: none;
	height: 53px;
	width: 170px;
	margin-left: 26px;
	padding: 12px 25px;
	background:  #96b92c;
	vertical-align: middle;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-button__subscribe:hover {
	background: #739704;
}

@media (max-width: 960px) {
	.ba-subscribe input[type="email"] {
	width: 100%;
	}
	.ba-button__subscribe {
	margin: 25px 0;
	}
}
@media (max-width: 480px) {
	.ba-subscribe__title {
	font-size: 30px;
	}
}
/*ba-blog*/
.ba-blog {
	background: #b07cf7;
}
.ba-blog__body {
	padding: 121px 0 26px;
	text-align: center;
	color: #fff;
}
.ba-blog__title {
	font-size: 90px;
	line-height: 27px;
	margin: 0;
	padding-bottom: 43px;
}
.ba-blog__body p {
	display: inline-block;
	max-width: 580px;
}
.ba-blog__block {
	position: relative;
	color: #fff;
	max-width: 370px;
	height: 310px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.ba-blog__block img {
	display: block;
	position: relative;
}
.ba-blog__date {
	position: absolute;
	top: 31px;
	left: 31px;
	font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding-top: 3px;
    border-radius: 5px;
    background-color:  rgba(38, 38, 38, 0.5);
    width: 60px;
    height: 60px;
}
.ba-blog__date span {
	font-size: 21px;
    font-weight: 800;
    line-height: 25px;
    text-transform: uppercase;
}
.ba-blog__description {
	position: absolute;
	max-width: 370px;
	height: 155px;
	top: 155px;
	left: 0;
	font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    padding: 30px 10px 0 20px;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0));
}
.ba-blog__autor {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    line-height: 13px;
}
.ba-blog__button {
	padding: 50px 0 119px;
}
.ba-button__blog {
	display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
	padding: 13px 25px;
	background:  #f72b3b;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-button__blog:hover {
	background: #f20517;
}

@media (max-width: 960px) {
	.ba-blog__title {
	font-size: 70px;
	}
	.ba-blog__block {
	margin: 10px auto;

	}
}
@media (max-width: 480px) {
	.ba-blog__title {
	font-size: 60px;
	}
	.ba-blog__block {
	margin: 5px auto;

	}
}
/*ba-contact*/
.ba-contact {
	background: url(../img/bg-contact.jpg) no-repeat 50%;
	background-size: cover;
}
.ba-contact__body {
	padding: 86px 0 0;
	text-align: center;
}
.ba-contact__body p {
	display: inline-block;
	margin: 0;
	max-width: 390px;
}
.ba-contact__title {
	font-size: 90px;
    line-height: 90px;
	margin: 0 0 30px;
}
.ba-contact__form {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    padding: 27px 10px 40px 0;
}
.ba-contact ::-webkit-input-placeholder {
	color: #fff;
}
.ba-contact :-moz-placeholder {
	color: #fff;
}
.ba-contact ::-moz-placeholder {
	color: #fff;
}
.ba-contact :-ms-input-placeholder {
	color: #fff;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	color: #fff;
	padding-left: 15px;
	width: 500px;
	height: 50px;
	background-color:  rgba(0, 196, 196, 0.5);
	outline: none;
	border: none;
}
textarea {
	height: 250px;

}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	border-left: 3px solid #355b82;
	font-weight: 700;
	background-color:  #00c4c4;
}
.ba-button__contact {
	outline: none;
	border: none;
	height: 55px;
	width: 140px;
	padding: 12px 25px;
	margin: 0;
	background:   rgba(0, 196, 196, 0.5);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-button__contact:hover {
	background: #07605e;
}
.ba-contact__details {
	padding: 36px 70px;
	margin: 0;
	list-style: none;
	font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}
.ba-contact__details h4 {
	margin: 0;
}
.ba-contact__details p {
	font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-transform: lowercase;
    margin: 0 0 10px;
}
.ba-contact__details  a {
	font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-transform: lowercase;
    color: #262626;
    text-decoration: none;
}
@media (max-width: 960px) {
	.ba-contact__form {
    padding: 27px 0 40px;
	text-align: center;
	}
	.ba-contact__title {
	font-size: 70px;
	}
	.ba-contact__details {
	padding: 20px 0 40px;
	margin: 0;
	text-align: center;
	}
}
@media (max-width: 768px) {

	input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
	max-width: 450px;
    }

}
@media (max-width: 480px) {
	.ba-contact__title {
	font-size: 60px;
	}

	input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
	width: 300px;
    }

}
/*ba-footer*/
.ba-footer {
	background-color:  #262626;
}
.ba-footer__body {
	padding: 18px 0 25px;
	color:  #b9b9b9;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.ba-footer__body img {
	margin: 16px 0;
	display: inline-block;
	text-align: center;
}
.ba-footer__body--made {
	font-size: 15px;
	margin: 16px 0;
}
.ba-footer__body--made span {
	color:  #ff2b58;
	font-weight: 700;
}
@media (max-width: 960px) {
	.ba-footer__body p {
		text-align: center;
	}
}







